<!-- this is when the student cancel the appointment with the visitor before he has booked the time-->
{% extends "layout.html" %}

{% block title %}
    Check Permiso
{% endblock %}

{% block main %}


<form action="/permiso" method="get">

    <h1 class="mb-3">The servicio name is {{ send_servicio_nu }}</h1>

    <h1 class="mb-3">The servicio ID is {{ send_servicio_ids }}</h1>

    <h1 class="mb-3">Which permit do you want to check?</h1>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Check</label>
    <select class="form-control" id="exampleFormControlSelect1" select name="service_numbre">
    <option disabled selected value="">Choose...</option>
      {% for send_servicio_id in send_servicio_ids %}
      <option value="{{ send_servicio_id }}">{{ send_servicio_id }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-primary my-1">Check</button>
</form>

{% endblock %}