{% extends "layout.html" %}

{% block title %}
    Graph
{% endblock %}

{% block main %}

 <div class="container">
    <h3>Lo siento </h3>
    <br>
    This is a 404 Error page
    <br>
    <br>
    Can you send a screenshot of this page, including the URL back to Jerry at:
    <br><br>
    Whatsapp: +86 13709081866
    <br>
    or
    <br>
    Email: jerryalfred007@gmail.com
    <br><br>
    and you can go back to our <a class="btn-primary btn btn" href="/" role="button">Homepage </a> 
    
 </div>

{% endblock %} 
